@import "tailwindcss";

@theme {
  /* custom color teal */
  --color-teal-100: #e6f4f5;
  --color-teal-200: #b3e1e3;
  --color-teal-300: #80ced2;
  --color-teal-400: #4dbbc0;
  --color-teal-500: #1aa8af;
  --color-teal-600: #15868c;
  --color-teal-700: #106569;
  --color-teal-800: #0c4346;
  --color-teal-900: #0b7077;

  /* custom color orange */
  --color-orange-100: #fff0e9;
  --color-orange-200: #ffd2bd;
  --color-orange-300: #ffaf8c;
  --color-orange-400: #ff8d5c;
  --color-orange-500: #ff7034;
  --color-orange-600: #fe6c2b;
  --color-orange-700: #fe6925;
  --color-orange-800: #fd6821;
  --color-orange-900: #fd661f;

  /* custom shadow */
  --shadow-dropdown: 0px 50px 80px 0px #000000;

  /* container */
  --container-main: 1280px;
  --container-wide: 1400px;
}
